<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
  <main>
    {{ content }}
  </main>
  <hr>
  <footer>
    <p>&copy; {{ 'now' | date: '%Y' }} AK{% if page.last_modified %} - Dernière modification : {{ page.last_modified | date: '%d-%m-%Y' }}{% endif %}</p>
  </footer>
</body>
</html>
